<app-header></app-header>
<ion-content class="left-sidebar">


  <div class="all-elements">
    <div class="snap-drawers">


      <div id="content" class="snap-content">
        <div *ngIf="poll" class="content">

          <div class="header-clear"></div>
          <h4>Created By: {{poll?.user?.name || poll?.UserUuid?.name || 'Guest'}} </h4>
          <h4>Status : {{hasNotClosed ? 'Open' : 'Closed'}} </h4>

          <div class="vote-title full-width">
            <h2>{{poll?.title}}</h2>
            <p>{{poll?.question}} </p>
          </div>

          <div class="decoration" *ngIf="poll.url"></div>
          <div class="poll-image" *ngIf="poll.url">
            <img *ngIf="poll.url" [src]="poll.url"/>
          </div>
          <div class="decoration"></div>


          <form #pageForm="ngForm" [formGroup]="data" (ngSubmit)="onSubmit(pageForm)" class="searchForm">
            <div class="vote-wrap">


              <div *ngIf="poll?.pollType?.id == 1 && hasNotExpired"
                   class="formFieldWrap form-group radio-wrap radio-group">
                <!--                <label class="radio-item" for="true">-->
                <!--                  <p>True</p>-->
                <!--                  <input class="radio" id="true" type="radio" name="vote" />-->
                <!--                  <span class="checkmark"></span>-->
                <!--                </label>-->
                <!--                <label class="radio-item" for="false">-->
                <!--                  <p>False</p>-->
                <!--                  <input class="radio" id="false" type="radio" name="vote" />-->
                <!--                  <span class="checkmark"></span>-->
                <!--                </label>-->

                <ion-radio-group lines="full" formControlName="vote">
                  <ion-item class="form-radio" *ngFor="let eachType of poll?.valueVote">
                    <ion-radio slot="start" name="answer" [value]="eachType.id"
                               checked></ion-radio>
                    <ion-label (click)="clickOptions2(eachType.id)" class="c-label">{{eachType.value}}</ion-label>
                  </ion-item>


                </ion-radio-group>
              </div>


              <div *ngIf="poll?.pollType?.id == 2 && hasNotExpired"
                   class="formFieldWrap form-group radio-wrap radio-group">
                <div class="rate">
                  <div class="stars">
                    <input *ngFor="let eachType of poll?.valueVote" formControlName="vote" id="{{'STAR'+eachType.id}}"
                           type="radio" name="vote" value="{{eachType.id}}"/>
                    <label *ngFor="let eachType of poll?.valueVote" [htmlFor]="'STAR'+eachType.id">5 stars</label>
                  </div>

                </div>

                <!--                                <ion-radio-group *ngIf="poll?.pollType?.id == 2" lines="full" formControlName="vote">-->

                <!--                                  <ion-item class="form-radio" *ngFor="let eachType of poll?.valueVote">-->
                <!--                                    <ion-radio class="radio" slot="start" name="answer" [value]="eachType.id"-->
                <!--                                               checked></ion-radio>-->
                <!--                                    <ion-label (click)="clickOptions2(eachType.id)" class="c-label">{{eachType.value}}</ion-label>-->
                <!--                                  </ion-item>-->


                <!--                                </ion-radio-group>-->

              </div>


              <div *ngIf="poll?.pollType?.id == 3 && hasNotExpired"
                   class="formFieldWrap form-group radio-wrap radio-group">


                <ion-radio-group lines="full" formControlName="vote">

                  <ion-item class="form-radio" *ngFor="let eachType of poll?.pollOptions">
                    <ion-radio class="radio" slot="start" name="answer" [value]="eachType.vote_value_id"
                               checked></ion-radio>
                    <ion-label (click)="clickOptions2(eachType.vote_value_id)"
                               class="c-label">{{eachType.value}}</ion-label>
                  </ion-item>
                </ion-radio-group>


              </div>

            </div>

            <!-- trigger this section after voting is successful -->

            <div class="poll-summary">
              <h4>Poll Summary</h4>
              <table class="table">
                <tbody>
                <tr>
                  <td>Category</td>
                  <td>{{poll?.category?.name}}</td>
                </tr>
                <tr>
                  <td>Total Votes</td>
                  <td>{{sum}}</td>
                </tr>


                <tr *ngFor="let eachValue of optionValues">
                  <td>{{eachValue.name}} {{poll?.pollType?.id == 2 ? "Star" : ""}}</td>
                  <td>{{eachValue.count}}</td>
                </tr>

                </tbody>
              </table>

              <app-chart [poll]="poll"></app-chart>

            </div>

            <!-- end - trigger this section after voting is successful -->
            <div class="decoration"></div>
            <div class="formSubmitButtonErrorsWrap">

              <input [disabled]="!pageForm.form.valid" type="submit"
                     *ngIf="hasNotExpired"
                     class="buttonWrap button button-blue searchSubmitButton" id="searchSubmitButton"
                     value="Submit"/>


              <input  type="button"
                     *ngIf="hasNotExpired"
                      (click)="clickShare2()"
                     class="buttonWrap button button-blue searchSubmitButton"
                     value="Share"/>


            </div>

<!--            <div class="share-wrap" title="Share" (click)="clickShare2()">-->
<!--              <em class="share show-submenu"></em>-->
<!--            </div>-->


            <div class="bottom-fix"></div>
            <!-- End of entire page content-->
          </form>


        </div>


      </div>


    </div>


    <!-- <a href="#" class="back-to-top-badge"><i class="las la-caret-up"></i>Back to top</a> -->
  </div>


</ion-content>
<app-footer [showAdd]="false" [pageName]=page></app-footer>
