<app-header></app-header>
<ion-content class="left-sidebar">

  <div class="add-new">
    <a class="btn-new add-new-poll" [routerLink]="['/add-new']">
      <span class="plus"><i class="las la-plus"></i></span>
      <span class="high"><i class="las la-poll"></i></span>
    </a>
  </div>

  <div class="all-elements">
    <div class="snap-drawers">

      <!--Search wrap -->
      <app-search></app-search>

      <div id="content" class="snap-content">
        <div class="content">
          <div class="header-clear"></div>
          <!--Page content goes here, fixed elements go above the all elements class-->

          <div class="vote-title full-width">
            <h2>Will Tinubu run in 2023?</h2>
            <p>Will APC aspirant, Sen Bola Ahmed Tinubu run in the Presidential Elections coming in 2023? </p>
          </div>

          <div class="decoration"></div>
          <div class="poll-image">
            <iframe style="" width="100%" height="650px" allow="camera;microphone"
                    src="http://localhost/dw/chatroom/grupo/chat/office-abuse/" frameborder=0 allowfullscreen></iframe>
            <img src="assets/images/bola_ahmed_tinubu_2023.jpg"/>
          </div>
          <div class="decoration"></div>

          <div class="vote-wrap">

            <div class="formFieldWrap form-group radio-wrap radio-group">
              <label class="radio-item" for="true">
                <p>True</p>
                <input class="radio" id="true" type="radio" name="vote" required/>
                <span class="checkmark"></span>
              </label>
              <label class="radio-item" for="false">
                <p>False</p>
                <input class="radio" id="false" type="radio" name="vote"/>
                <span class="checkmark"></span>
              </label>
            </div>

          </div>

          <!-- trigger this section after voting is successful -->
          <div id="pollResBasic" class="poll-summary">
            <h4>Poll Summary</h4>
            <table class="table">
              <tbody>
              <tr>
                <td>Category</td>
                <td>Politics</td>
              </tr>
              <tr>
                <td>Total Votes</td>
                <td>22,576</td>
              </tr>
              <tr>
                <td>True Votes</td>
                <td>18,109</td>
              </tr>
              <tr>
                <td>False Votes</td>
                <td>4,467</td>
              </tr>
              </tbody>
            </table>
            <!--
            <div class="poll-graph-wrap">
              <canvas id="pollResult" style="width:100%; max-width:100%;"></canvas>
              <script type="text/javascript">
                var xValues = ["True", "False"];
                var yValues = [18109, 4467];
                var barColors = ["#3E77B1", "#DD1111"];

                new Chart("pollResult", {
                  type: "doughnut",
                  data: {
                    labels: xValues,
                    datasets: [{
                      backgroundColor: barColors,
                      data: yValues
                    }]
                  },
                  options: {
                    legend: {display: true},
                    title: {
                      display: true,
                      text: "Will Tinubu run in 2023?"
                    }
                  }
                });
              </script>
            </div>
            -->
          </div>
          <!-- end - trigger this section after voting is successful -->
          <div class="decoration"></div>
          <div class="formSubmitButtonErrorsWrap">
            <input type="submit" class="buttonWrap button button-blue searchSubmitButton" value="Vote"/>
          </div>


          <div class="bottom-fix"></div>
          <!-- End of entire page content-->
        </div>
      </div>
      <app-footer [pageName]=page></app-footer>
    </div>
    <!-- <a href="#" class="back-to-top-badge"><i class="las la-caret-up"></i>Back to top</a> -->
  </div>


</ion-content>
