<!-- A - E Options chart -->
<div class="poll-canvas-wrap canvas-bordered">
  <h4> A - E Options Chart </h4>
  <div class="poll-canvas fsv-bar-canvas">
    <div class="v-boundary">
      <div data-total-votes="14411" class="v-bars">
        <div class="fs-vbar">
          <div data-votes="1456" data-poll="10.1" class="vbar color-1"></div>
        </div>
        <div class="fs-vbar">
          <div data-votes="8654" data-poll="60" class="vbar color-2"></div>
        </div>
        <div class="fs-vbar">
          <div data-votes="2287" data-poll="15.9" class="vbar color-3"></div>
        </div>
        <div class="fs-vbar">
          <div data-votes="890" data-poll="6.2" class="vbar color-4"></div>
        </div>
        <div class="fs-vbar">
          <div data-votes="1124" data-poll="7.8" class="vbar color-5"></div>
        </div>
      </div>
    </div>
    <div class="v-boundary-base">
      <div class="rate-item"><span>A</span></div>
      <div class="rate-item"><span>B</span></div>
      <div class="rate-item"><span>C</span></div>
      <div class="rate-item"><span>D</span></div>
      <div class="rate-item"><span>E</span></div>
    </div>
  </div>
  <div class="tf-bar-legend tv-bar">
    <p class="color-1"><strong>A - </strong> Mind my business</p>
    <p class="color-2"><strong>B - </strong> Tell her the truth</p>
    <p class="color-3"><strong>C - </strong> Tell her you heard rumours</p>
    <p class="color-4"><strong>D - </strong> Tell Him to change</p>
    <p class="color-5"><strong>E - </strong> Leave the company</p>
    <div class="decoration"></div>
  </div>
  <div class="tf-bar-legend">
    <p><strong>Total Views:</strong> 62,300</p>
    <p><strong>Total Votes:</strong> 14,411</p>
  </div>
</div>
<!-- end A - E Options chart -->

