<app-header name="Add New Poll"></app-header>


<ion-content class="left-sidebar">
  <div class="all-elements" style="padding-bottom: 20%">
    <div class="snap-drawers">
      <!--Search wrap -->

      <div id="content" class="snap-content">
        <div class="content">
          <div class="header-clear"></div>
          <!--Page content goes here, fixed elements go above the all elements class-->
          <div class="container">
            <div class="container no-bottom">
              <div class="add-new-form poll-form no-bottom">
                <form [formGroup]="data" (ngSubmit)="onSubmit(pageForm)" #pageForm="ngForm" class="searchForm">
                  <ion-item class="formFieldWrap" lines="full">
                    <ion-label position="floating">Title</ion-label>
                    <ion-input class="textField" autocapitalize="words" type="text" required
                               formControlName="title"></ion-input>
                  </ion-item>

                  <ion-item class="formFieldWrap" lines="full">
                    <ion-label position="floating">Select Category</ion-label>
                    <ion-select placeholder="{{category?.name}}" value="brown" okText="Select"
                                formControlName="category" class="textField" cancelText="Cancel">
                      <ion-select-option [value]="">Select Category</ion-select-option>
                      <ion-select-option class="form-radio" *ngFor="let eachCategory of categoriesList"
                                         value="{{eachCategory.id}}">{{eachCategory.name}}</ion-select-option>
                    </ion-select>
                  </ion-item>


                  <ion-item lines="full" class="formFieldWrap">
                    <ion-label position="floating">Question</ion-label>
                    <ion-textarea autocapitalize="words" type="text"
                                  class="textarea"
                                  rows="4"
                                  placeholder="Type your question here"
                                  formControlName="question"
                                  required></ion-textarea>
                  </ion-item>


                  <ion-item  lines="full" class="radio-wrap border-bottom">

                    <ion-radio-group (ionChange)="clickOptions($event)" lines="full" formControlName="answerType">
                      <ion-list-header>
                        <ion-label><p>How will people respond to your poll?</p></ion-label>
                      </ion-list-header>

                      <ion-item  class="form-radio" *ngFor="let eachType of pollTypesList">
                        <ion-radio class="radio" slot="start" name="answer" [value]="eachType.id" checked></ion-radio>
                        <ion-label (click)="clickOptions2(eachType)" class="c-label">{{eachType.name}}</ion-label>
                      </ion-item>
                    </ion-radio-group>
                  </ion-item>


                  <div class="radio-wrap border-bottom" *ngIf="showA2E || myShowAE">

                    <ion-item>
                      <ion-label position="floating">A</ion-label>
                      <ion-input autocapitalize="words" type="text" formControlName="A"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">B</ion-label>
                      <ion-input autocapitalize="words" type="text" formControlName="B"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">C</ion-label>
                      <ion-input autocapitalize="words" type="text" formControlName="C"></ion-input>
                    </ion-item>


                    <ion-item>
                      <ion-label position="floating">D</ion-label>
                      <ion-input autocapitalize="words" type="text" formControlName="D"></ion-input>
                    </ion-item>


                    <ion-item>
                      <ion-label position="floating">E</ion-label>
                      <ion-input autocapitalize="words" type="text" formControlName="E"></ion-input>
                    </ion-item>

                    <br/>
                  </div>


                  <ion-item lines="full" class="formFieldWrap border-bottom">
                    <div>
                      <p>Upload an image to your poll</p>
                      <span class="tooltip show-submenu"><i class="las la-question-circle"></i></span>
                      <div class="submenu tooltip-info">
                        Email verification required to edit this item.
                      </div>
                      <div class="upload-wrap">
                        <ion-input class="pollImage" type="file"
                                   (click)="selectPhoto()"
                                   formControlName="image"></ion-input>
                      </div>

                      <ion-row>
                        <ion-col size="12">
                          <img *ngIf="photo" [src]="photo"/>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ion-item>

                  <div class="formFieldWrap border-bottom">
                    <p>Open to Everyone?</p>
                    <span class="tooltip show-submenu"><i class="las la-question-circle"></i></span>
                    <div class="submenu tooltip-info">
                      Email verification required to edit this item.
                    </div>
                    <div class="form-group check-wrap">

                      <!--                          <input type="checkbox" checked="checked" name="polltype_open_to_all"-->
                      <!--                                                         class="checkbox"/>-->

                      <ion-checkbox [(ngModel)]="checked" class="checkbox" color="primary"
                                    formControlName="openToAll"></ion-checkbox>
                      <label (click)="openClick()" class="c-label">Yes
                        <!--                          <span class="checkmark"></span>-->
                      </label>
                    </div>
                  </div>


                  <ion-item lines="full">
                    <ion-label>Close Date</ion-label>
                    <ion-datetime formControlName="closeDate" placeholder="Select Date" displayFormat="YYYY-MM-DD"></ion-datetime>
                  </ion-item>


                  <br/>
                  <br/>
                  <br/>

                  <!-- trigger this block for non-registered users -->
                  <div class="reg-notice">
                    <div class="notice notice-danger">
                      <h4>Results of your poll will be visible for 2 days after the poll closes. </h4>
                      <p class="triggerRegister anchor">Register to save the results permanently and access other
                        features.</p>
                    </div>
                    <div class="formFieldWrap" *ngIf="!isAuth">
                      <ion-label position="floating"><p>Your Email Address</p></ion-label>
                      <span class="tooltip show-submenu"><i class="las la-question-circle"></i></span>
                      <div class="submenu tooltip-info">
                        Email verification required to edit this item.
                      </div>

                      <!--                        <ion-item lines="full">-->
                      <!--                          <ion-label position="floating">Surname</ion-label>-->
                      <!--                          <ion-input autocapitalize="words" type="text" required formControlName="emailField"></ion-input>-->
                      <!--                        </ion-item>-->

                      <ion-input type="text"
                                 placeholder="you@yourdomain.com"
                                 formControlName="emailField" class="contactField textField"></ion-input>


                    </div>
                  </div>
                  <!-- end - trigger this block for non-registered users -->


                  <!--                  <div class="formSubmitButtonErrorsWrap">-->

                  <!--                    <ion-button [disabled]="!pageForm.form.valid"-->
                  <!--                                type="submit"-->
                  <!--                                class="buttonWrap button button-blue searchSubmitButton">Submit-->
                  <!--                    </ion-button>-->


                  <!--                  </div>-->
                  <div class="formSubmitButtonErrorsWrap">
                    <input [disabled]="!pageForm.form.valid" type="submit"
                           class="buttonWrap button button-blue searchSubmitButton" id="searchSubmitButton"
                           value="Preview" data-formId="contactForm"/>


                    <a (click)="reset()"
                       class="buttonWrap button button-red searchSubmitButton">Reset
                      Poll
                    </a>


                  </div>
                  <br/>
                  <br/>

                </form>
              </div>
            </div>
          </div>


          <!-- End of entire page content-->
        </div>
      </div>


    </div>
  </div>


</ion-content>

<app-footer [showAdd]="false" [pageName]="page"></app-footer>
