//ion-content {
//  --offset-top: 0 !important;
//}

.container{
  --offset-top: 0 !important;
  margin-bottom:30px;
  display:block;
}

.validation-errors {
  font-size: small;
  color: var(--ion-color-danger, #f1453d);
}

/* These are necessary to make the underline red */
ion-item.invalid {
  --highlight-background: var(--ion-color-danger, #f1453d);
}

ion-item {
  --highlight-color-invalid: var(--ion-color-primary);
}

