<app-header name="Preview Your Poll"></app-header>

<ion-content class="left-sidebar">


  <div class="all-elements">
    <div class="snap-drawers">
      <div id="content" class="snap-content">
        <div class="content">
          <div class="header-clear"></div>
          <!--Page content goes here, fixed elements go above the all elements class-->

          <div class="container">
            <p>Preview your poll before it is posted, you can go back and make adjustments.</p>
            <div class="container no-bottom">
              <div class="add-new-form poll-form no-bottom">
                <form action="poll-submitted.html" method="post" class="newPoll" id="newPoll">
                  <fieldset>
                    <div class="formFieldWrap">
                      <p>Title</p>
                      <input type="text" name="titleField" value="{{pollList.title}}" readonly
                             class="contactField textField" id="titleField"/>
                    </div>
                    <div class="formFieldWrap">
                      <p>Category</p>
                      <input type="email" name="category" value="{{category.name}}" readonly
                             class="contactField textField" id="category"/>
                    </div>
                    <div class="formFieldWrap">
                      <p>Question</p>
                      <input type="text" name="question" value="{{pollList.question}}" readonly
                             class="contactField textField" id="question"/>
                    </div>
                    <div class="formFieldWrap form-group radio-wrap border-bottom">
                      <p>How will people respond to your poll?</p>
                      <div class="form-radio">
                        <input class="radio" id="customRadioInline2" type="radio" checked name="customRadioInline">
                        <span class="radiomark"></span>
                        <label class="c-label" for="customRadioInline2">{{pollType.name}}</label>
                      </div>
                    </div>

                    <div class="radio-wrap border-bottom" *ngIf="showA2E">

                      <ion-item>
                        <ion-label position="floating">A</ion-label>
                        <ion-input readonly value="{{pollList.A}}" type="text"></ion-input>
                      </ion-item>

                      <ion-item>
                        <ion-label position="floating">B</ion-label>
                        <ion-input readonly value="{{pollList.B}}" type="text"></ion-input>
                      </ion-item>

                      <ion-item>
                        <ion-label position="floating">C</ion-label>
                        <ion-input readonly value="{{pollList.C}}" type="text"></ion-input>
                      </ion-item>


                      <ion-item>
                        <ion-label position="floating">D</ion-label>
                        <ion-input readonly value="{{pollList.D}}" type="text"></ion-input>
                      </ion-item>


                      <ion-item>
                        <ion-label position="floating">E</ion-label>
                        <ion-input readonly value="{{pollList.E}}" type="text"></ion-input>
                      </ion-item>

                    </div>

                    <div class="formFieldWrap border-bottom">
                      <p>Uploaded Image</p>
                      <div class="upload-wrap preview-image">
                        <img *ngIf="photo" [src]="photo"/>
                      </div>
                    </div>
                    <div class="formFieldWrap border-bottom">
                      <p>Open to Everyone?</p> <strong>{{pollList.openToAll ? 'Yes' : 'No'}}</strong>
<!--                      <div class="form-group check-wrap">-->
<!--                        <label class="c-label">Yes-->
<!--                          <input type="checkbox"-->
<!--                                 contenteditable="false"-->
<!--                                 [checked]="pollList.openToAll"-->
<!--                                 name="polltype_open_to_all"-->
<!--                                 class="checkbox"/><span class="checkmark"></span></label>-->
<!--                      </div>-->
                    </div>
                    <div class="formFieldWrap">
                      <p>Close Date</p>
                      <input type="text" name="close-date" value="{{pollList.closeDate}}" readonly
                             class="contactField textField"
                             id="close-date"/>
                    </div>

                    <div class="decoration"></div>

                    <!-- trigger this block for non-registered users -->
                    <div class="reg-notice">
                      <div class="notice notice-danger">
                        <h4>Results of your poll will be visible for 2 days after the poll closes. </h4>
                        <p class="triggerRegister anchor">Register to save the results permanently and access other
                          features.</p>
                      </div>
                      <div class="formFieldWrap" *ngIf="!isAuth">
                        <p>Your Email Address</p>
                        <input type="email" name="emailField" readonly value="{{pollList.emailField}}"
                               class="contactField textField" id="emailField"/>
                      </div>
                    </div>
                    <!-- end - trigger this block for non-registered users -->

                    <!--                    <div class="formSubmitButtonErrorsWrap">-->
                    <!--                      &lt;!&ndash;                      <input type="submit" class="buttonWrap button button-blue searchSubmitButton"&ndash;&gt;-->
                    <!--                      &lt;!&ndash;                             id="searchSubmitButton" value="Post"/>&ndash;&gt;-->

                    <!--                      <ion-button (click)="submit()" class="buttonWrap button button-blue searchSubmitButton"-->
                    <!--                                  color="primary" expand="block">Post-->
                    <!--                      </ion-button>-->

                    <!--                      <a *ngIf="!isEdit" [routerLink]="['/add-new']"-->
                    <!--                         class="buttonWrap button button-red searchSubmitButton">Edit-->
                    <!--                        Poll</a>-->
                    <!--                    </div>-->


                    <div class="formSubmitButtonErrorsWrap">
                      <input type="submit"
                             (click)="submit()"
                             class="buttonWrap button button-blue searchSubmitButton"
                             id="searchSubmitButton" value="Post"
                      />
                      <a *ngIf="!isEdit" [routerLink]="['/add-new']"
                         class="buttonWrap button button-red searchSubmitButton">Edit
                        Poll
                      </a>

                    </div>


                  </fieldset>
                </form>
              </div>
            </div>
          </div>

          <!-- End of entire page content-->
        </div>
      </div>


    </div>
  </div>


</ion-content>
<app-footer [showAdd]="false" [pageName]=page></app-footer>
