<ion-header>

  <div class="gallery-fix"></div> <!-- Important for all pages that have galleries or portfolios -->

  <div id="header-fixed" class="header-style-1">
<!--    <h2 class="logo"><a [routerLink]="['/']">{{getName()}}</a></h2>-->
    <h2 class="logo">{{getName()}}</h2>
    <a *ngIf="search" id="open-search" class="header-2" (click)="searchLink()">
      <span><i class="las la-search flip"></i></span>
    </a>
  </div>

  <div *ngIf="showSearch" class="search-draw">

    <ion-searchbar type="text" debounce="500" (ionChange)="getItems($event)" inputmode="search" animated
                   placeholder="Search for Poll"></ion-searchbar>
  </div>

</ion-header>
