<!-- 5 Star rating chart -->
<div class="poll-canvas-wrap canvas-bordered">
  <h4> 5 Star Rating Chart </h4>
  <div class="poll-canvas fsh-bar-canvas">
    <div class="h-boundary">
      <div data-rate="5" class="rate-item"><span>5 Star</span></div>
      <div data-rate="4" class="rate-item"><span>4 Star</span></div>
      <div data-rate="3" class="rate-item"><span>3 Star</span></div>
      <div data-rate="2" class="rate-item"><span>2 Star</span></div>
      <div data-rate="1" class="rate-item"><span>1 Star</span></div>
    </div>
    <div data-total-votes="8657" class="rate-bars">
      <div class="fs-hbar">
        <div data-votes="677" data-poll="7.8" class="hbar"></div>
      </div>
      <div class="fs-hbar">
        <div data-votes="1345" data-poll="15.5" class="hbar"></div>
      </div>
      <div class="fs-hbar">
        <div data-votes="3456" data-poll="40" class="hbar"></div>
      </div>
      <div class="fs-hbar">
        <div data-votes="2788" data-poll="32.2" class="hbar"></div>
      </div>
      <div class="fs-hbar">
        <div data-votes="391" data-poll="4.5" class="hbar"></div>
      </div>
    </div>
  </div>
  <div class="tf-bar-legend">
    <p><strong>Total Views:</strong> 123,941</p>
    <p><strong>Total Votes:</strong> 8,657</p>
  </div>
</div>
<!-- end 5 Star rating chart -->
