<!--                *ngFor="let eachCategory of categoriesList"-->
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-card class="item grid" *ngFor="let eachPoll of pollList">
  <a>
    <ion-card-header class="grid-top"  [routerLink]="['/poll-details',eachPoll.id]">

      <div class="image-holder">
        <img *ngIf="eachPoll.url" [src]="eachPoll.url"/>
      </div>
      <div class="contents">
        <h4>
          <a title="View Poll">{{eachPoll.title}}
          <span>{{eachPoll.question}}</span>
          </a>
        </h4>
      </div>

    </ion-card-header >
    <app-vote-result-template [poll]="eachPoll"></app-vote-result-template>
    <ion-card-content class="grid-bottom">
      <div class="user-wrap">
        <i class="las la-user"></i> {{eachPoll?.user?.name || 'Guest'}}
      </div>
      <div class="share-wrap" title="Share" (click)="sharePrompt(eachPoll)">
        <em class="share show-submenu"></em>
      </div>
      {{eachPoll.code}}
    </ion-card-content>
  </a>

</ion-card>
