<app-header name="Profile"></app-header>

<ion-content class="left-sidebar">


  <div class="all-elements">
    <div class="snap-drawers">


      <div id="content" class="snap-content">
        <div class="content">


          <div class="header-clear"></div>
          <!--Page content goes here, fixed elements go above the all elements class-->

          <div class="container">

            <div class="profile-title">
              <h4>Hi {{userDetails.name || 'Guest'}},</h4>
              <p *ngIf="isAuth">Update your profile</p>
              <h4 *ngIf="!isAuth">Authenticate Email to enable your profile</h4>
            </div>
<!--            <div class="profile-image">-->
<!--              <div class="profile-image-wrap">-->
<!--                <img src="assets/images/user_d.png" alt="Profile Image"/>-->
<!--                &lt;!&ndash;                <div class="edit-profile-image">&ndash;&gt;-->
<!--                &lt;!&ndash;                  <span>Edit <i class="las la-edit"></i></span>&ndash;&gt;-->
<!--                &lt;!&ndash;                </div>&ndash;&gt;-->
<!--              </div>-->
<!--            </div>-->

            <div class="formFieldWrap" *ngIf="!isAuth">
              <ion-label position="stacked">Email</ion-label>
              <input type="text"
                     [(ngModel)]="email"
                     class="contactField titleField"/>


              <input type="submit"
                     (click)="authenticate()"
                     class="buttonWrap button button-blue searchSubmitButton"
                     value="Authenticate"
              />

              <!--              <input type="submit"-->
              <!--                     (click)="presentPrompt()"-->
              <!--                     class="buttonWrap button button-blue searchSubmitButton"-->
              <!--                     value="Authenticate"-->
              <!--              />-->
            </div>


          </div>

          <div class="decoration"></div>
          <div *ngIf="isAuth" class="container">
            <div class="container no-bottom">
              <div class="profile-form poll-form no-bottom">
                <form [formGroup]="data" (ngSubmit)="onSubmitForm(pageForm)" #pageForm="ngForm" class="updateProfile">
                  <fieldset>
                    <div class="formFieldWrap">
                      <label for="userName">Username</label>
                      <input type="text"
                             formControlName="name"
                             value="{{userDetails.name}}" class="textField bg"
                             id="userName"/>
                    </div>
                    <div class="formFieldWrap">
                      <label for="firstName">First Name</label>
                      <input type="text"
                             formControlName="firstName"
                             value="{{userDetails.firstName}}"
                             class="textField bg" id="firstName"/>
                    </div>
                    <div class="formFieldWrap">
                      <label for="lastName">Surname</label>
                      <input type="text"
                             formControlName="lastName"
                             value="{{userDetails.lastName}}"
                             class="textField bg" id="lastName"/>
                    </div>
                    <div class="formFieldWrap">
                      <label for="userEmail">Email Address</label>
                      <input type="email"
                             formControlName="email"
                             contenteditable="false"
                             value="{{userDetails.email}}" class="textField bg"
                             id="userEmail" readonly/>
                    </div>

                    <div class="formFieldWrap">
                      <label for="userEmail">Interests</label>
                      <ion-select placeholder="{{category?.name}}" value="brown" okText="Select"
                                  formControlName="interest"
                                  multiple
                                  class="contactField selectField" cancelText="Cancel">
                        <ion-select-option [value]="">Select Category</ion-select-option>
                        <ion-select-option class="form-radio" *ngFor="let eachCategory of categoriesList"
                                           value="{{eachCategory.id}}">{{eachCategory.name}}</ion-select-option>
                      </ion-select>
                    </div>

                    <div class="formFieldWrap">
                      <label for="userGender">Gender</label>
                      <select formControlName="gender" name="gender" class="contactField selectField" id="userGender">
                        <option value="Male" title="Male">Male</option>
                        <option value="Female" title="Female" selected>Female</option>
                      </select>
                    </div>

                    <div class="formFieldWrap">
                      <label for="userGender">Date Joined : {{userDetails.created_at | date}}</label>
                    </div>


                    <div class="formSubmitButtonErrorsWrap">
                      <input type="submit" class="buttonWrap button button-blue searchSubmitButton"
                             id="searchSubmitButton" value="Save" data-formId="contactForm"/>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>

          </div>

          <div class="bottom-fix"></div>
          <!-- End of entire page content-->
        </div>
      </div>
    </div>
    <!-- <a href="#" class="back-to-top-badge"><i class="las la-caret-up"></i>Back to top</a> -->
  </div>


</ion-content>
<app-footer [pageName]=page></app-footer>
