.bottom-sheet-popover .popover-content {
  width: 100% !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  top: calc(100% - 200px) !important;
  max-height: 200px;
  min-height: 200px;
}
