<div id="search" class="search-draw">

<!--  <div class="search-header">-->
<!--    <a class="close-wrap" href="#"><i class="las la-times"></i></a>-->
<!--  </div>-->

<!--  <div class="container no-bottom">-->
<!--    <div class="sidebar-form search-form no-bottom">-->


<!--      <form action="#" method="post" class="searchForm" id="searchForm">-->
<!--        <fieldset>-->

<!--          <div class="formFieldWrap">-->
<!--            <input onfocus="if (this.value=='Search') this.value = ''"-->
<!--                   onblur="if (this.value=='') this.value = 'Search Polls'" type="text" name="searchField"-->
<!--                   value="Search Polls" class="contactField" id="searchField"/>-->
<!--          </div>-->

<!--          <div class="formSubmitButtonErrorsWrap">-->
<!--            <input type="submit" class="buttonWrap button button-blue searchSubmitButton" id="searchSubmitButton"-->
<!--                   value="Search" data-formId="contactForm"/>-->
<!--          </div>-->
<!--        </fieldset>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->


</div>
