<app-header></app-header>

<ion-content class="left-sidebar">


  <div class="all-elements">
    <div class="snap-drawers">


      <!--Search wrap -->

      <div id="content" class="snap-content">
        <div class="content">
          <div class="header-clear"></div>
          <!--Page content goes here, fixed elements go above the all elements class-->

          <div class="container">
            <h4>Hi {{userDetails.name || 'Guest'}},</h4>
          </div>

          <div class="decoration"></div>

          <div class="container">
            <h4>Recent Polls</h4>
            <div class="recent-poll-wrap">
              <div class="recent-polls">

                <div class="item" *ngFor="let eachPoll of pollList">
                  <h4><a [routerLink]="['/vote-now',eachPoll.id]">{{eachPoll.question}}</a></h4>
                  <span class="votes"><a
                    [routerLink]="['/vote-now',eachPoll.id]">{{eachPoll?.counters?.value || 0}} / {{eachPoll.category.name}}</a></span>
                </div>
              </div>
            </div>
          </div>

          <div class="decoration"></div>

          <div class="container">
            <h4>My Polls</h4>
            <div class="decoration"></div>
            <div class="recent-poll-wrap">

              <div class="recent-polls">
                <app-my-poll-list></app-my-poll-list>
              </div>
            </div>
          </div>

          <div class="bottom-fix"></div>
          <!-- End of entire page content-->
        </div>
      </div>


    </div>
    <!-- <a href="#" class="back-to-top-badge"><i class="las la-caret-up"></i>Back to top</a> -->
  </div>


</ion-content>
<app-footer [pageName]=page></app-footer>
