<!-- yes/no bar chart -->
<div class="poll-canvas-wrap canvas-bordered">
  <h4>Yes / No Bar Chart </h4>
  <div class="poll-canvas tf-bar-canvas">
    <div class="boundary">
      <div class="bars" data-total-votes="1221">
        <div id="bar" class="true-bar bar" data-poll="341" data-size="27.9"></div>
        <div id="fbar" class="false-bar bar" data-poll="880" data-size="72.1"></div>
      </div>
    </div>
    <div class="labels">
      <div class="true-label label">
        <p>Yes</p>
      </div>
      <div class="false-label label">
        <p>No</p>
      </div>
    </div>

  </div>
  <div class="tf-bar-legend">
    <p><strong>Total Views:</strong> 11,688</p>
    <p><strong>Total Votes:</strong> 1,221</p>
  </div>
</div>
<!-- end yes/no bar chart -->
